<div class="container px-5 px-sm-0">
  <div class="row">
    <!-- Current User Information -->
    <div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag(current_user.profile_image.presence || 'noimage.jpg', class: "img-fluid", width: "200", height: "200") %>
      <table class="table">
        <tbody>
          <tr>
            <th>Name</th>
            <td><strong><%= current_user.name %></strong></td>
          </tr>
          <tr>
            <th>Introduction</th>
            <td><%= current_user.introduction %></td>
          </tr>
          <tr>
            <th>Following</th>
            <td><%= link_to current_user.following.count, following_user_path(current_user) %></td>
          </tr>
          <tr>
            <th>Followers</th>
            <td><%= link_to current_user.followers.count, followers_user_path(current_user) %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to edit_user_path(current_user), class: 'btn btn-outline-secondary btn-block' do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
      <h2 class="mt-3">New book</h2>
      <%= form_with(model: current_user.books.build, local: true) do |form| %>
        <div class="form-group">
          <%= form.label :title %>
          <%= form.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :body %>
          <%= form.text_area :body, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.submit "Create Book", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
    <!-- All Users List -->
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Action</th>
            <th>Follow</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag(user.profile_image.presence || 'noimage.jpg', class: "img-fluid", width: "80", height: "80") %></td>
              <td><%= user.name %></td>
              <td><%= link_to 'Show', user_path(user) %></td>
              <td><%= render 'follow_form', user: user %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
